<h1>Edit Recipe</h1>

<a href="/recipes/<%= @recipe.id %>">Go back</a>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div>
    <label for="">Name:</label>
    <input type="text" name="name" value="<%= @recipe.name %>" />
  </div>
  <div>
    <label for="">Ingredients:</label>
    <input type="text" name="ingredients" value="<%= @recipe.ingredients %>" />
  </div>
  <div>
    <label for="">Cook Time:</label>
    <input type="text" name="cook_time" value="<%= @recipe.cook_time %>" />
  </div>
  <input id="submit" type="submit" value="Edit Recipe" />
</form>
