<h1><%= @recipe.name %></h1>

<p>This is an amazing recipe. It has <%= @recipe.ingredients %>, and it takes <%= @recipe.cook_time %>to cook.</p>

<a href="/recipes">View All Recipes</a>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="submit" type="submit" value="delete" />
</form>
<a href="/recipes/<%= @recipe.id %>/edit">Edit this Recipe</a>
<a href="/recipes/<%= @recipe.id %>/delete">Delete this Recipe</a>
